{% block content %}
    {{ _self}} content

{% set _controller = '@survos/grid-bundle/datatables' %}
<div
        {{ stimulus_controller(_controller) }}
>
    <div         {{ stimulus_target(_controller, 'modal') }}>Modal</div>

    <table class="table" {{ stimulus_target(_controller, 'table') }}>
        <thead>
        <tr>
            {% for c in columns %}
                {% set columnName = c is iterable ? c.data|default(false) : c %}
                {% set title = c is iterable ? c.title|default(columnName|title) : columnName|title %}
                <th>
                    {{ title }}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
                {% for c in columns %}
                {% set blockName = c is iterable ? c.blockName|default(false) : c %}
                {% set columnName = c is iterable ? c.data|default(false) : c %}
<td>


    {% if block(blockName) is defined %}
        {% with {row: row} %}
                {{ block(blockName) }}
        {% endwith %}
        {% else %}
            {{ attribute(row, columnName)  }}
    {% endif %}
                {% endfor %}
</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
</div>
    {% endblock %}
