{# templates/components/datatable.html.twig #}
{% set columns = this.normalizedColumns %}
<div {{ this.stimulusController ? stimulus_controller(this.stimulusController) }}>
    <div class="m-4">
        <dl class="row">
            {% for c in columns %}
                <dt class="col-sm-3">
                    {{ c.title }}
                </dt>
                <dd class="col-md-9">
                    {% if block(c.name) is defined %}
                        {% with {data: data} %}
                            {{ block(c.name) }}
                        {% endwith %}
                    {% else %}
                        {# handle bools #}
                        {% set value = attribute(data, c.name)|default() %}
                        {% if is_list(value) %}
                            {# idea: find the longest item to decide if it can be inlined #}
                            <ul>
                                {% for v in value %}
                                    {# @todo: make recursive #}
                                    <li>{{ is_scalar(v) ? v : v|json_encode }}</li>
                                {% endfor %}
                            </ul>
                        {% elseif is_array(value) %}
                            {{ value|json_encode }}
                        {% else %}

                            {#                                {{ is_object(value) ? value|json_encode : value }} #}
                            {% if is_object(value) %}
                                <pre>{{ value|json_encode(constant('JSON_UNESCAPED_SLASHES') + constant('JSON_PRETTY_PRINT')) }}</pre>
                            {% else %}
                                {% if value starts with "http" %}
                                    <a href="{{ value }}">
                                        {% if value ends with 'jpg' %}
                                            <img src="{{ value }}" class="img-thumbnail"/>
                                        {% else %}
                                            {{ value }}
                                        {% endif %}
                                    </a>
                                {% else %}
                                    {{ value|urlize }}
                            {% endif %}
                            {% endif %}

                        {% endif %}
                    {% endif %}
                </dd>
            {% endfor %}

        </dl>
    </div>
</div>
